body {
    background-color: #333333;
}

%display-none {
    display: none;
}

%display-block {
    display: block;
}
%timeStage {
    transition: all 2s;
}
%center {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    top: 0;
    width: 100%;
}

.wrapper {
    border: 1px solid #FFFFFF;
    bottom: 0;
    height: 600px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
}
.anchor {
    @extend %display-none;
}
.intro {
    .ballon {
        background-color: #FFFFFF;
        border-radius: 4px;
        display: none;
        padding: 20px;
        position: relative;
        width: 200px;
        .text {
            color: #333333;
        }
        label {
            background-color: #BA0000;
            border-radius: 50%;
            bottom: -15px;
            color: #FFFFFF;
            cursor: pointer;
            padding: 8px;
            position: absolute;
            right: -15px;
        }
        &.-end {
            label {
                background-color: green;
            }
        }
    }   
}

.stage,
.intro {
    @extend %display-none;
}

.character {
    background: url(img/character-bottom.png) left top no-repeat;
    height: 74px;
    width: 74px;
}

@for $i from 1 through 2 {
    @keyframes play-#{$i} {
        100% {
            background-position-x: -592px;
        }
    }
}


$main: (
    intro: intro,
    stage: stage
);

@each $id, $class in $main {
    #anchor-#{$id} {
        &:checked {
            ~ .#{$class} {
                @extend %center;
            }
        }
    }
}

.stage {
    background: url(img/scenery.jpg) center center;
    position: relative;
    .controller {
        display: flex;
        justify-content: center;
        position: absolute;
        &.-top {
            left: 0;
            margin: auto;
            right: 0;
            top: 20px;
        }
        &.-right {
            right: 20px;
        }
        &.-bottom {
            bottom: 20px;
            left: 0;
            margin: auto;
            right: 0;
        }
        &.-left {
            left: 20px;
        }
        .control {
            color: #FFFFFF;
            cursor: pointer;
            padding: 10px;
        }
        [level="1"] {
            background-color: #BA0000;
        }
        [level="2"] {
            background-color: green;
            display: none;
        }
        [level="3"] {
            background-color: blue;
            display: none;
        }
    }
}

$positions: (
    top: top,
    right: right,
    bottom: bottom,
    left: left
);

:checked {
    + .ballon {
        display: block;
    }
}

@each $position, $value in $positions {    
    #center-to-#{$position} {
        &:checked {
            ~ .stage {
                [for="center-to-#{$position}"] {
                    display: none;
                }
                @if ($value == "top") {
                    background-position-y: $value;
                    [for="center-to-bottom"] {
                        display: none;
                    }
                    [for="top-to-center"] {
                        display: block;
                    }
                    // .character {
                    //     background-image: url(img/character-#{$value}.png);
                    // }
                } @else if ($value == "bottom") {
                    background-position-y: $value;
                    [for="center-to-top"] {
                        display: none;
                    }
                    [for="bottom-to-center"] {
                        display: block;
                    }
                    // .character {
                    //     background-image: url(img/character-#{$value}.png);
                    // }
                } @else if ($value == "right") {
                    background-position-x: $value;
                    [for="center-to-left"] {
                        display: none;
                    }
                    [for="right-to-center"] {
                        display: block;
                    }
                    // .character {
                    //     background-image: url(img/character-#{$value}.png);
                    // }
                } @else {
                    background-position-x: $value;
                    [for="center-to-right"] {
                        display: none;
                    }
                    [for="left-to-center"] {
                        display: block;
                    }
                    // .character {
                    //     background-image: url(img/character-#{$value}.png);
                    // }
                }
            }
        }
    }
    ##{$position}-to-center {
        &:checked {
            ~ .stage {
                [for="#{$position}-to-center"] {
                    display: none;
                }
                @if ($value == "right") or ($value == "left") {
                    background-position-x: center;
                } @else {
                    background-position-y: center;
                }
                // @if ($value == "top") {
                //     .character {
                //         background-image: url(img/character-#{$value}-return.png);
                //     }
                // } @else if ($value == "bottom") {
                //     .character {
                //         background-image: url(img/character-#{$value}-return.png);
                //     }
                // } @else if ($value == "right") {
                //     .character {
                //         background-image: url(img/character-#{$value}-return.png);
                //     }
                // } @else {
                //     .character {
                //         background-image: url(img/character-#{$value}-return.png);
                //     }
                // }
            }
        }
    }
}